* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial Medium, Helvetica, sans-serif;
 }

a {
  color: dimgray;
  text-decoration: none;
}

nav a {
  margin: 16px;
}

nav a:hover {
  color:black;
  transition: .3s;
 }

nav a.active {
  color:teal;
  transition: .3s;
}
